<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>569573479371-86e5olcc7r1kagta4u80psfa9r35gm8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569573479371-86e5olcc7r1kagta4u80psfa9r35gm8u</string>
	<key>API_KEY</key>
	<string>AIzaSyC2C8Wz1bs1y27AQSRlqpngnDNOo8XKv6A</string>
	<key>GCM_SENDER_ID</key>
	<string>569573479371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AMO.AMO</string>
	<key>PROJECT_ID</key>
	<string>amooma-724dc</string>
	<key>STORAGE_BUCKET</key>
	<string>amooma-724dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569573479371:ios:d5577f2d7aa1bfb2</string>
	<key>DATABASE_URL</key>
	<string>https://amooma-724dc.firebaseio.com</string>
</dict>
</plist>